<header>
    <div class="main" id="main_title">
        <a href={{ config.base_url }}>{{ config.title }}</a>
    </div>

    <nav>
        <!-- Search backdrop -->
        <div class="search-backdrop"></div>
        
        <!-- Search wrapper -->
        <div class="search-wrapper">
            <!-- Search icon -->
            <a href="#" class="search-icon" id="search-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </a>
            
            <!-- Search container -->
            <div class="search-container">
                <input type="text" id="search" placeholder="Search...">
                <div class="search-results">
                    <div class="search-results__items"></div>
                </div>
            </div>
            &nbsp;|
        </div>
        
        {% for menu in config.extra.translations[lang][0].menus %}
            <a href={{ menu.url }}>{{ menu.name }}</a>
        {% endfor %}

        {% if config.extra.mode == "toggle" %}
            | <a id="dark-mode-toggle" onclick="toggleTheme()" href=""></a>
            <script src={{ get_url(path="js/themetoggle.js") }}></script>
        {% endif %}
    </nav>
</header>
